/* your code */
.row1{
	background-color: blue;
	color: white;
}
.row3,.row5{
	background-color: lightgray;
	
}
tr{
	text-align: center;
}
td{
	padding: 5px;
}
table{
	border: 1px solid lightgray;
	border-radius: 15px;
	
}
